/configure filter ip-filter
default-action forward
description "{{ ACL['description'] }}"
{% set count = [1] %}
{% for rule in ACL['rules'] %}
{% if rule['source'] is string %}
    {%- set sources = [rule['source']] -%}
{% else %}
    {%- set sources = rule['source'] -%}
{% endif %}
{% for source in sources %}
{% if rule['dest'] is string %}
    {%- set destinations = [rule['dest']] -%}
{% else %}
    {%- set destinations = rule['dest'] -%}
{% endif %}
{% for dest in destinations %}
entry {{ count[0] }} create
{% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
 description "{{ rule['description'] }}"
{% if rule['proto'] != "any" %}
  match protocol "{{ rule['proto'] }}"
{% else %}
  match
{% endif %}
{% if source != "any" %}
    src-ip {{ source }}
{% endif %}
{% if dest != "any" %}
    dst-ip {{ dest }}
{% endif %}
{% if rule['sport']['startrange'] is defined and rule['sport']['endrange'] is defined %}
    src-port range {{ rule['sport']['startrange'] }} {{ rule['sport']['endrange'] }}
{% elif rule['sport'] != "any" %}
    src-port eq {{ rule['sport'] }}
{% endif %}
{% if rule['dport']['startrange'] is defined and rule['dport']['endrange'] is defined %}
    dst-port range {{ rule['dport']['startrange'] }} {{ rule['dport']['endrange'] }}
{% elif rule['dport'] != "any" %}
    dst-port eq {{ rule['dport'] }}
{% endif %}
    exit
{% if rule['actions'] == "permit" %}
  action forward
{% elif rule['actions'] == "deny" %}
  action drop
{% endif %}
exit
{% endfor %}
{% endfor %}
{% endfor %}
