<config>
    <configure xmlns="urn:alcatel-lucent.com:sros:ns:yang:conf-filter-r13">
        <filter>
{% if ACL['acl_type'] == "ipv4-acl" %}
            <ip-filter>
{% elif ACL['acl_type'] == "ipv6-acl" %}
            <ipv6-filter>
{% endif %}
                <filter-id>{{ ACL['acl_id'] }}</filter-id>
{% if ACL['default_action'] == 'deny' %}
                <default-action>
                    <drop-forward>drop</drop-forward>
                </default-action>
{% elif ACL['default_action'] == 'permit' %}
                <default-action>
                    <drop-forward>forward</drop-forward>
                </default-action>
{% endif %}
{% set count = [1] %}
{% for rule in ACL['rules'] %}
{% if rule['source'] is string %}
    {%- set sources = [rule['source']] -%}
{% else %}
    {%- set sources = rule['source'] -%}
{% endif %}
{% for source in sources %}
{% if rule['dest'] is string %}
    {%- set destinations = [rule['dest']] -%}
{% else %}
    {%- set destinations = rule['dest'] -%}
{% endif %}
{% for dest in destinations %}
                <entry>
                    <entry-id>{{ count[0] }}</entry-id>
{% if rule['description'] is defined %}
                    <description>
                        <description-string>
                            {{ rule['description'] }}
                        </description-string>
                    </description>
{% endif %}
                    <match>
{# PROTOCOL MATCHING BEGINS #}
{% if rule['proto'] is not none and rule['proto'] != "any" %}
                        <protocol>{{ rule['proto'] }}</protocol>
{% endif %}
{# DESTINATION ADDRESS MATCHING BEGINS #}
{% if dest != "any" %}
                        <dst-ip>
                            <ip-address-mask>{{ dest }}</ip-address-mask>
                        </dst-ip>
{% endif %}
{# SOURCE ADDRESS MATCHING BEGINS #}
{% if source is not none and source != "any" %}
                        <src-ip>
                            <ip-address-mask>{{ source }}</ip-address-mask>
                        </src-ip>
{% endif %}
{# SOURCE PORT MATCHING BEGINS #}
{% if rule['sport']['startrange'] is defined and rule['sport']['endrange'] is defined %}
                <src-port>
                    <range>{{ rule['sport']['startrange'] }}</range>
                    <range>{{ rule['sport']['endrange'] }}</range>
                </src-port>
{% endif %}
{% if rule['sport'] != "any"  %}
                <src-port>
                    <lt-gt-eq>eq</lt-gt-eq>
                    <src-port-number>{{ rule['sport'] }}</src-port-number>
                </src-port>
{% endif %}
{# DESTINATION PORT MATCHING BEGINS #}
{% if rule['dport']['startrange'] is defined and rule['dport']['endrange'] is defined %}
                <dst-port>
                    <range>{{ rule['dport']['startrange'] }}</range>
                    <range>{{ rule['dport']['endrange'] }}</range>
                </dst-port>
{% endif %}
{% if rule['dport'] != "any"  %}
                <dst-port>
                    <lt-gt-eq>eq</lt-gt-eq>
                    <dst-port-number>{{ rule['dport'] }}</dst-port-number>
                </dst-port>
{% endif %}
{# ICMP MATCHING BEGINS #}
{% if rule['icmp_code'] is defined %}
                <icmp-code>
                    <icmp-code>{{ rule['icmp_code'] }}</icmp-code>
                </icmp-code>
{% endif %}
{% if rule['icmp_type'] is defined %}
                <icmp-type>
                    <icmp-type>{{ rule['icmp_type'] }}</icmp-type>
                </icmp-type>
{% endif %}
{# MISCELLANEOUS MATCHING BEGINS #}
{% if rule['ip_option'] is defined %}
                <ip-option>
                    <ip-option-value>{{ rule['icmp_type'] }}</ip-option-value>
                </ip-option>
{% endif %}
{% if rule['dscp'] is defined %}
                <dscp>
                    <dscp-name>{{ rule['dscp'] }}</dscp-name>
                </dscp>
{% endif %}
{% if rule['fragment'] is defined %}
                <fragment>
                    <true-false>{{ rule['fragment'] }}</true-false>
                </fragment>
{% endif %}
{# END OF MATCH CRITERIA #}
                    </match>
{% endfor %}
{# ACTION MATCHING #}
                    <action>
{% if rule['actions'] == 'permit' %}
                        <forward>
{% if rule['next_hop'] is defined %}
                            <next-hop>
                                <ip-address>{{ rule['next_hop'] }}</ip-address>
                            </next-hop>
{% endif %}
                        </forward>
{% elif rule['actions'] == 'deny' %}
                        <drop>
                        </drop>
{% endif %}
                    </action>
                </entry>
{% if count.append(count.pop() + 1) %}{% endif %}{# increment count by 1 #}
{% endfor %}
{% endfor %}
{% if ACL['acl_type'] == "ipv4-acl" %}
            </ip-filter>
{% elif ACL['acl_type'] == "ipv6-acl" %}
            </ipv6-filter>
{% endif %}
        </filter>
    </configure>
</config>
